<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>

<link rel="stylesheet" type="text/css" media="all"
	href="../static/css/layout.css" th:href="@{/css/layout.css}" />
<link rel="stylesheet" type="text/css" media="all"
	href="../static/css/style.css" th:href="@{/css/style.css}" />

<title>Insert title here</title>
</head>
<body id="top">
	<!-- ################################################################################################ -->
	<!-- ################################################################################################ -->
	<!-- ################################################################################################ -->
	<div class="wrapper row0">
		<div id="topbar" class="hoc clear">
			<!-- ################################################################################################ -->
			<nav id="mainav" class="fl_left">
				<ul class="clear">
					<li class="active"><a href="homePage.html">Home</a></li>
				</ul>
			</nav>
			<nav id="mainav" class="fl_right">
				<ul class="clear">
					<li class="active"><a href="/logout">Log Out</a></li>
				</ul>
			</nav>
		</div>
	</div>
	<!-- ################################################################################################ -->
	<!-- ################################################################################################ -->
	<!-- ################################################################################################ -->
	<div class="wrapper row1 colouredborder">
		<header id="header" class="hoc clear">
			<!-- ################################################################################################ -->
			<div id="logo">
				<i class="fa fa-4x fa-university"></i>
				<h1>
					<a href="homePage.html">San Paul Gallery</a>
				</h1>
				<p>Ars gratia artis</p>
			</div>



			<div id="logo">
				<p>Inserisci un artista:</p>
				<i class="fa fa-4x fa-address-card"></i>
				<h1>
					<a href="/newArtista">inserisci artista</a>
				</h1>
			</div>

			<div id="logo">
				<p>visualizza gli artisti:</p>
				<h1>
					<button type="submit" style="font-size: 24px">

						view artist <i class="fa fa-vcard"></i>

					</button>
				</h1>
			</div>



			<!-- ################################################################################################ -->
		</header>
	</div>
	<form action="#" th:action="@{/artista}" th:object="${artista}"
		method="post"></form>






	<!-- ################################################################################################ -->
	<!-- ################################################################################################ -->
	<!-- ################################################################################################ -->
	<div class="bgded overlay"
		style="background-image: url('images/demo/backgrounds/02.png');">
		<div class="hoc container clear">
			<!-- ################################################################################################ -->
			<article class="one_third first">
				<h2>Contact</h2>
				<p>via Vito Voltera, 160</p>
				<p>tel. 06/3284628</p>
				<p>email. info@sanpaulmuseum.it</p>
			</article>

			<!-- ################################################################################################ -->
		</div>
	</div>
	<!-- ################################################################################################ -->
	<!-- ################################################################################################ -->
	<!-- ################################################################################################ -->

	<!-- ################################################################################################ -->
	<!-- ################################################################################################ -->
	<!-- ################################################################################################ -->

	<!-- ################################################################################################ -->
	<!-- ################################################################################################ -->
	<!-- ################################################################################################ -->
	<div class="wrapper row5">
		<div id="copyright" class="hoc clear">
			<!-- ################################################################################################ -->
			<p class="fl_left">
				Copyright &copy; 2015 - All Rights Reserved - <a href="#">Domain
					Name</a>
			</p>
			<p class="fl_right">
				Template by <a target="_blank" href="http://www.os-templates.com/"
					title="Free Website Templates">OS Templates</a>
			</p>
			<!-- ################################################################################################ -->
		</div>
	</div>
	<!-- ################################################################################################ -->
	<!-- ################################################################################################ -->
	<!-- ################################################################################################ -->
	<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
	<!-- JAVASCRIPTS -->
	<script src="layout/scripts/jquery.min.js"></script>
	<script src="layout/scripts/jquery.backtotop.js"></script>
	<script src="layout/scripts/jquery.mobilemenu.js"></script>
	<!-- IE9 Placeholder Support -->
	<script src="layout/scripts/jquery.placeholder.min.js"></script>
	<!-- / IE9 Placeholder Support -->
</body>
</html>
