<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Galleria HomePage</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="../static/styles/layout.css" rel="stylesheet" type="text/css" media="all">
<link href="../static/styles/style.css" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">
	<!-- ################################################################################################ -->
	<!-- ################################################################################################ -->
	<!-- ################################################################################################ -->
	<div class="wrapper row0">
		<div id="topbar" class="hoc clear">
			<!-- ################################################################################################ -->
			<nav id="mainav" class="fl_left">
				<ul class="clear">
					<li class="active"><a href="index.html">Home</a></li>
					<li class="active"><a href="/signIn.html">Sign In</a></li>



				</ul>
			</nav>

		</div>
	</div>
	<!-- ################################################################################################ -->
	<!-- ################################################################################################ -->
	<!-- ################################################################################################ -->
	<div class="wrapper row1 colouredborder">
		<header id="header" class="hoc clear">
			<!-- ################################################################################################ -->
			<div id="logo">
				<i class="fa fa-4x fa-university"></i>
				<h1>
					<a href="index.html">San Paul Gallery</a>
				</h1>
				<p>Ars gratia artis</p>
			</div>
			<!-- ################################################################################################ -->
		</header>
	</div>
	
	<form action="#" th:action="@{/userDto}" th:object="${userDto}" method="post">
            <div>
                <div>
                    <span th:text="#{label.firstName}">Name: </span>
                    <span><input type="text" th:field="*{firstName}" /></span>
                    <span th:if="${#fields.hasErrors('firstName')}" th:text="#{label.mandatory}">Error</span>
                </div>
                <div>
                    <span th:text="#{label.lastName}">Last name: </span>
                    <span><input type="text" th:field="*{lastName}" /></span>
                    <span th:if="${#fields.hasErrors('lastName')}" th:text="#{label.mandatory}">Error</span>
                </div>
                <div>
                    <span th:text="#{label.email}">E-mail: </span>
                    <span><input type="text" th:field="*{email}" /></span>
                    <span th:if="${#fields.hasErrors('email')}" th:text="#{label.mandatory}">Error</span>
                    
                </div>
                
                <div>
                    <span th:text="#{label.password}">Password: </span>
                    <span><input type="password" th:field="*{password}" /></span>
                    <span th:if="${#fields.hasErrors('password')}" th:text="#{label.mandatory}">Error</span>
                </div>
                
                 <div>
                    <span th:text="#{label.matchingPassword}">Repeat Password: </span>
                    <span><input type="password" th:field="*{matchingPassword}" /></span>
                    <span th:if="${#fields.hasErrors('matchingPassword')}" th:text="#{label.mandatory}">Error</span>
                </div>
                
                <div>
                    <span><button type="submit">Submit</button></span>
                </div>
            </div>
        </form>
	
	
	
	
	
	
	
	<!-- ################################################################################################ -->
	<!-- ################################################################################################ -->
	<!-- ################################################################################################ -->
	<div class="bgded overlay"
		style="background-image: url('images/demo/backgrounds/02.png');">
		<div class="hoc container clear">
			<!-- ################################################################################################ -->
			<article class="one_third first">
				<h2>Contact</h2>
				<p>via Vito Voltera, 160</p>
				<p>tel. 06/3284628</p>
				<p>email. info@sanpaulmuseum.it</p>
			</article>

			<!-- ################################################################################################ -->
		</div>
	</div>
	<!-- ################################################################################################ -->
	<!-- ################################################################################################ -->
	<!-- ################################################################################################ -->

	<!-- ################################################################################################ -->
	<!-- ################################################################################################ -->
	<!-- ################################################################################################ -->

	<!-- ################################################################################################ -->
	<!-- ################################################################################################ -->
	<!-- ################################################################################################ -->
	<div class="wrapper row5">
		<div id="copyright" class="hoc clear">
			<!-- ################################################################################################ -->
			<p class="fl_left">
				Copyright &copy; 2015 - All Rights Reserved - <a href="#">Domain
					Name</a>
			</p>
			<p class="fl_right">
				Template by <a target="_blank" href="http://www.os-templates.com/"
					title="Free Website Templates">OS Templates</a>
			</p>
			<!-- ################################################################################################ -->
		</div>
	</div>
	<!-- ################################################################################################ -->
	<!-- ################################################################################################ -->
	<!-- ################################################################################################ -->
	<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
	<!-- JAVASCRIPTS -->
	<script src="layout/scripts/jquery.min.js"></script>
	<script src="layout/scripts/jquery.backtotop.js"></script>
	<script src="layout/scripts/jquery.mobilemenu.js"></script>
	<!-- IE9 Placeholder Support -->
	<script src="layout/scripts/jquery.placeholder.min.js"></script>
	<!-- / IE9 Placeholder Support -->
</body>
</html>